body {
  color: purple;
  background-image: url("../media/bkg1.jpg");
}

h1 {
  color:  (0, 255, 102);
}

ul li {
  background: #C5E1EC;
  color: purple;
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

p {
  color: purple;
}
