body {
  color: purple;
  background-image: url("../media/bkg.jpg");
}

h1{
  color: #4AF626;
  font-size: 32px;
  font-family: "press Start 2P", "consolas", "courier";
  font-weight: bold;
  text-decoration: none;
}

h2{
  color: grey;
  font-family: "press Start 2P", "consolas", "courier";
  font-weight: bold;
  text-decoration: underline;
}

.revalia-regular {
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}


ul li {
  font-family: "Geo", "courier", "sans-serif";
  font-size: 16px;
  background: black;
  color: purple;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Silkscreen", "sans-serif";
  color: grey;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

p {
  color: purple;
  font-family: "Geo", "courier", "sans-serif";
  font-size: 16px;
  background: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 200px;
  margin-left: 80px;
  background: black;
  text-align: center;
  overflow: hidden;
}

a:link {
  color: magenta;
}

a:visited {
  color: #F0FFFF;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

iframe{
    border-width: 0px;
}
