body {
  color: purple;
  background-image: url("../media/bkg.jpg");
}

h1{
  color: #4AF626;
  font-size: 52px;
  font-family: "press Start 2P", "consolas", "courier";
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

h2{
  color: yellowgreen;
  font-family: "press Start 2P", "consolas", "courier";
  font-weight: bold;
  text-align: center;
  text-shadow: 
    -2px -2px 2px black,  
     2px -2px 2px black,  
    -2px  2px 2px black,  
     2px  2px 2px black;
  text-decoration: underline;
}

.revalia-regular {
  font-family: "Revalia", "sans-serif";
  font-weight: 400;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", "sans-serif";
  font-weight: 400;
  font-style: normal;
}

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-dots-regular {
  font-family: "Raleway Dots", "sans-serif";
  font-weight: 400;
  font-style: normal;
}

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



ul li {
  font-family: "courier", "sans-serif";
  font-size: 20px;
  background: black;
  color: yellowgreen;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: max-content;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Silkscreen", "sans-serif";
  color: grey;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: yellowgreen;
  background-color: green;
}

p {
  font-family: "press Start 2P", "courier", "sans-serif";
  background: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 200px;
  margin-left: 80px;
  background: black;
  text-align: center;
  overflow: hidden;
  color: transparent;
  text-shadow: 
    -2px -2px 2px white,  
     2px -2px 2px purple,  
    -2px  2px 2px purple,  
     2px  2px 2px purple;
  font-size: 20px;
  font-weight: bold;
}

a:link {
  color: #CB00F5;
  text-align: center;
}

a:visited {
  color: #FE019A;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

iframe{
    border-width: 0px;
}

#resume-title {
  background-color: grey;
}

#resume-edu {
  background-color: grey;
}

#resume-experience {
  background-color: grey;
}

#resume-coursework {
  background-color: grey;
}

#resume-extracurricular {
  background-color: grey;
}

section {
  display: block;
  margin: 20px 220px;
  padding: 50px; 
  border-radius: 50px;
  text-align: center;
}

@keyframes flicker {
  0% { opacity: 1; text-shadow: 0 0 5px #b300ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff; }
  50% { opacity: 0.8; text-shadow: 0 0 3px #b300ff, 0 0 8px #ff00ff, 0 0 15px #ff00ff; }
  100% { opacity: 1; text-shadow: 0 0 5px #b300ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff; }
}

.flicker-section {
  background-color: black;
  color: magenta;
  font-size: 2em;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  animation: flicker 0.1s infinite alternate;
}


.container {
  width: 90%; /* Instead of fixed 1200px */
  max-width: 1200px; /* Prevents it from being too wide */
  margin: 0 auto; /* Centers the container */
}

.button-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: yellowgreen; 
  font-family: "courier", "sans-serif";
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.button-link:hover {
  background-color: #0056b3; /* Darker blue */
  transform: scale(1.05);
}

/* Active (clicked) effect */
.button-link:active {
  background-color: #004494;
  transform: scale(0.98);
}






